
<div *ngIf="adminheaderCond">
    <ng-container *ngTemplateOutlet="adminheader"></ng-container>
</div>

<div *ngIf="userheaderCond">
    <ng-container *ngTemplateOutlet="userheader"></ng-container>
</div>


<div *ngIf="tapheaderCond">
    <ng-container *ngTemplateOutlet="tapheader"></ng-container>
</div>



<ng-container #adminheader>
    <!--------Admin Header ------------>
    <div class="header-wrapper" style="background-color: black;">
        <div class="container header-content">
            <div>
                <img src="../../assets/images/TIS ICON 2 (2) 1.png" alt="Logo" />
            </div>

            <div class="header_balance_wrapper">

                <div class="balance_text_wrapper">
                    <h6 class="header_text"> Total Amount Invested </h6>
                    <h4 class="header_text_inner"> ₦1,200,235.00 </h4>
                </div>

                <div class="vertical-line">
                </div>

                <img class="bell" src="../../assets/images/bell 1.svg" />
            </div>

            <div>
                <img class="menu-icon" src="../../assets/images/user dash menu.png" alt="menu" />
            </div>
        </div>
    </div>
</ng-container>

<ng-container #userheader>
    <!--------Admin Header ------------>
    <div class="header-wrapper">
        <div class="container header-content">
            <div>
                <img src="../../assets/images/TIS ICON 2 (2) 1.png" alt="Logo" />
            </div>

            <div class="header_balance_wrapper">

                <div class="balance_text_wrapper">
                    <h6 class="header_text"> Wallet Ballance </h6>
                    <h4 class="header_text_inner"> ₦1,200,235.00 </h4>
                </div>

                <div class="vertical-line">
                </div>

                <img class="bell" src="../../assets/images/bell 1.svg" />
            </div>

            <div>
                <img class="menu-icon" src="../../assets/images/user dash menu.png" alt="menu" />
            </div>
        </div>
    </div>
</ng-container>


<ng-container #tapheader>
    <!--------Admin Header ------------>
    <div class="header-wrapper" style="background-color: black;">
        <div class="container header-content">
            <div>
                <img src="../../assets/images/TIS ICON 2 (2) 1.png" alt="Logo" />
            </div>

            <div class="header_balance_wrapper">

                <div class="balance_text_wrapper">
                    <h6 class="header_text"> Wallet Ballance </h6>
                    <h4 class="header_text_inner"> ₦1,200,235.00 </h4>
                </div>

                <div class="vertical-line">
                </div>

                <img class="bell" src="../../assets/images/bell 1.svg" />
            </div>

            <div>
                <img class="menu-icon" src="../../assets/images/user dash menu.png" alt="menu" />
            </div>
        </div>
    </div>
</ng-container>



