<div class="body-wrapper" style="display: flex; justify-items: center; justify-content: center;">
    <div class="container" style="width: 900px;">
        <div class="sub-header-wrapper">
            <h3 class="sub-header">Activities</h3>

            <span class="cancel-text"></span>
        </div>

        <div>
            <span class="badge">Investment approval</span> <span class="active-badge">Due investment</span> <span class="unapproved-badge">New user</span>
        </div>

        <div class="activity-box">
            <div class="activity-header">
                <div class="activity-subhead">
                    Investment approval
                </div>
                <div class="activity-date">
                    July 20, 2020 - 10:00pm
                </div>                    
            </div>
            <div class="activity-content">
                Your privacy is more important to all of us at TIS and has always been , 
            </div>
        </div>

        <div class="activity-box">
            <div class="activity-header">
                <div class="activity-subhead">
                    Investment approval
                </div>
                <div class="activity-date">
                    July 20, 2020 - 10:00pm
                </div>                    
            </div>
            <div class="activity-content">
                Your privacy is more important to all of us at TIS and has always been , 
            </div>
        </div>

        <div class="activity-box">
            <div class="activity-header">
                <div class="activity-subhead">
                    Investment approval
                </div>
                <div class="activity-date">
                    July 20, 2020 - 10:00pm
                </div>                    
            </div>
            <div class="activity-content">
                Your privacy is more important to all of us at TIS and has always been , 
            </div>
        </div>

        <div class="activity-box">
            <div class="activity-header">
                <div class="activity-subhead">
                    Investment approval
                </div>
                <div class="activity-date">
                    July 20, 2020 - 10:00pm
                </div>                    
            </div>
            <div class="activity-content">
                Your privacy is more important to all of us at TIS and has always been , 
            </div>
        </div>

        <div class="activity-box">
            <div class="activity-header">
                <div class="activity-subhead">
                    Investment approval
                </div>
                <div class="activity-date">
                    July 20, 2020 - 10:00pm
                </div>                    
            </div>
            <div class="activity-content">
                Your privacy is more important to all of us at TIS and has always been , 
            </div>
        </div>
        
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#" class="active">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
</div>   