<div class="body-wrapper" style="display: flex; justify-items: center; justify-content: flex-end; flex-wrap: wrap;">
    <div class="container" style="width: 500px;">
        <h3 class="small-blue-text" style="margin-bottom: 30px;">
            Agent Code <span class="active-badge">78967TYY</span> <i class="fa fa-clone" style="font-size: 10px;"
                aria-hidden="true"></i></h3>

        <div class="bordered-box blue">
            <div class="avater-wrapper">
                <img class="avater" src="images/Ellipse 27.svg" alt="avater" />
                <h4 class="small-blue-text">Smith Thompson</h4>
            </div>


            <table style="width: 100%;">
                <tr>
                    <td class="a">Username</td>
                    <td><span>smith123</span></td>
                </tr>
                <tr>
                    <td class="a">Email address</td>
                    <td><span>smith123@gmail.com</span></td>
                </tr>
                <tr>
                    <td class="a">Phone number</td>
                    <td><span>+23490876543545</span></td>
                </tr>
                <tr>
                    <td class="a">Date of birth</td>
                    <td><span>January 01, 2020</span></td>
                </tr>
                <tr>
                    <td class="a">Occupation</td>
                    <td><span>Banker</span></td>
                </tr>
                <tr>
                    <td class="a">Address</td>
                    <td><span>No 1 Ilorin road, Gbagada estate, Lagos</span></td>
                </tr>
            </table>
        </div>

        <div class="bordered-box blue">
            <h4>Bank information</h4>
            <table style="width: 100%;">
                <tr>
                    <td class="a">Bank</td>
                    <td><span>Guarantee Trust Bank</span></td>
                </tr>
                <tr>
                    <td class="a">Account number</td>
                    <td><span>00301323423</span></td>
                </tr>
                <tr>
                    <td class="a">Account name</td>
                    <td><span>Smith Thompson</span></td>
                </tr>
                <tr>
                    <td class="a">Bank statement</td>
                    <td><a href="">View statement</a></td>
                </tr>
            </table>
        </div>

        <div class="bordered-box blue">
            <h4>Identification</h4>
            <table style="width: 100%;">
                <tr>
                    <td class="a">Identification</td>
                    <td><span>International Passport </span><a href=""> View</a></td>
                </tr>
                <tr>
                    <td class="a">Passport photograph</td>
                    <td><a href="">View</a></td>
                </tr>
            </table>
        </div>

    </div>

    <div class="container" style="width: 500px;" style="justify-content: center;">
        <div class="bordered-box deep-blue">
            <div class="wallet-wrapper">
                <div class="wallet-balance">
                    <div class="balance-text">Wallet Balance</div>
                    <div class="balance-amount">₦1,200,235.00</div>
                </div>
                <div class="topup-btn">Top up wallet</div>
            </div>
            <div style="color: #E45C5C; font-size: 12px; margin-bottom: 5px;">
                Pending Balance <span style="font-weight: bold;">₦590,000</span>
            </div>
            <div style="color: #1E266D; font-size: 12px;">
                Next payment: <em>#45,000.00</em> due on February 29, 2020
            </div>
        </div>

        <div class="bordered-box deep-blue">
            <h3 class="small-blue-text">Recent Transaction</h3>

            <hr class="break-line">
            <div class="list-wrapper">
                <div class="column-wrapper"><span style="color: #E45C5C;">- ₦1,200,000.00</span> <span>June 10, 2020
                        - 12:30pm</span></div>
                <div class="column-wrapper"><span>Investment deposit</span> <span style="color: #1D66FF;">For
                        investment - 535359</span></div>
                <div><i class="fa fa-check" style="color: #02B075; font-size:20px" aria-hidden="true"></i></div>
            </div>
            <hr class="break-line">
            <div class="list-wrapper">
                <div class="column-wrapper"><span style="color: #02B075;">+ ₦20,000.00</span> <span>June 10, 2020 -
                        12:30pm</span></div>
                <div class="column-wrapper"><span>Investment deposit</span> <span style="color: #1D66FF;">For
                        investment - 535359</span></div>
                <div><i class="fa fa-times-circle-o" style="color: #E45C5C; font-size:20px" aria-hidden="true"></i>
                </div>
            </div>
            <hr class="break-line">
            <div class="list-wrapper">
                <div class="column-wrapper"><span style="color: #E45C5C;">- ₦1,200,000.00</span> <span>June 10, 2020
                        - 12:30pm</span></div>
                <div class="column-wrapper"><span>Investment deposit</span> <span style="color: #1D66FF;">For
                        investment - 535359</span></div>
                <div><i class="fa fa-check" style="color: #02B075; font-size:20px" aria-hidden="true"></i></div>
            </div>
            <hr class="break-line">
            <div class="list-wrapper">
                <div class="column-wrapper"><span style="color: #02B075;">+ ₦20,000.00</span> <span>June 10, 2020 -
                        12:30pm</span></div>
                <div class="column-wrapper"><span>Investment deposit</span> <span style="color: #1D66FF;">For
                        investment - 535359</span></div>
                <div><i class="fa fa-times-circle-o" style="color: #E45C5C; font-size:20px" aria-hidden="true"></i>
                </div>
            </div>
            <hr class="break-line">
            <div class="list-wrapper">
                <div class="column-wrapper"><span style="color: #02B075;">+ ₦20,000.00</span> <span>June 10, 2020 -
                        12:30pm</span></div>
                <div class="column-wrapper"><span>Investment deposit</span> <span style="color: #1D66FF;">For
                        investment - 535359</span></div>
                <div><i class="fa fa-times-circle-o" style="color: #E45C5C; font-size:20px" aria-hidden="true"></i>
                </div>
            </div>
            <hr class="break-line">
            <div class="list-wrapper">
                <div class="column-wrapper"><span style="color: #02B075;">+ ₦20,000.00</span> <span>June 10, 2020 -
                        12:30pm</span></div>
                <div class="column-wrapper"><span>Investment deposit</span> <span style="color: #1D66FF;">For
                        investment - 535359</span></div>
                <div><i class="fa fa-times-circle-o" style="color: #E45C5C; font-size:20px" aria-hidden="true"></i>
                </div>
            </div>
            <hr class="break-line">
            <div class="list-wrapper">
                <div class="column-wrapper"><span style="color: #E45C5C;">- ₦1,200,000.00</span> <span>June 10, 2020
                        - 12:30pm</span></div>
                <div class="column-wrapper"><span>Investment deposit</span> <span style="color: #1D66FF;">For
                        investment - 535359</span></div>
                <div><i class="fa fa-check" style="color: #02B075; font-size:20px" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>



    <div class="container txx">
        <button class="btn btn-light-blue" style="margin-right: 20px; padding: 20px;">Active<span class="badge-green">4</span></button>
        <button class="btn btn-light-blue" style="margin-right: 20px; padding: 20px;">Unapproved<span class="badge-yellow">4</span></button>
        <button class="btn btn-light-blue" style="margin-right: 20px; padding: 20px;">Completed<span class="badge-blue">4</span></button>
        <button class="btn btn-light-blue" style="margin-right: 20px; padding: 20px;">Deactivate agent</button>
    </div>

</div>