<div class="body-wrapper" style="display: flex; justify-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap;">
    <div class="container">
        <div class="sub-header-wrapper">
            <h3 class="sub-header">Edit profile</h3>

            <span class="cancel-text">CANCEL</span>
        </div>

        <hr class="header-line">

        <form method="post" action="" enctype="multipart/form-data">
            <div class="row">
                <div class="half">
                    <label class="input-label">First name</label>
                    <input class="text-input" name="firstname" type="text">
                </div>
                <div class="half" style="margin-left: 2%;">
                    <label class="input-label">Last name</label>
                    <input class="text-input" name="lastname" type="text">
                </div>
            </div>

            <label class="input-label">Email address</label>
            <input class="text-input" name="email" type="text">

            <label class="input-label">Phone number</label>
            <div class="row">
                <div class="one-quarter">
                    <select class="select-input" id="country" name="country">
                        <option value="+234">+234</option>
                        <option value="+01">+01</option>
                        <option value="+123">+123</option>
                    </select>
                </div>
                <div class="three-quarter" style="margin-left: 2%;">
                    <input class="text-input" name="phone" type="text" placeholder="8012345678">
                </div>
            </div>

            <div class="upload-file-wrapper">
                <div id="drop-area">
                    <p id="upload-label">Drop files here to upload...</p>
                    <input type="file" id="fileElem" name="file" accept="image/*"
                        onchange="uploadFile(this.file)" />
                    <label for="fileElem" class="browse-btn">Browse file</label>
                </div>
            </div>

            <input class="submit-btn" type="button" value="Update profile">
        </form>
    </div>
    
</div>
