
<div class="body-wrapper" style="display: flex; justify-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap;">
    <div class="container">
        <div class="sub-header-wrapper">
            <h3 class="sub-header">Investment detail</h3>

            <div class="back-wrapper">
                <img style="margin-top: -10px;" src="images/arrow-left 1.svg" />
                <span class="back-text">Back</span>
            </div>

        </div>

        <div class="bordered-box pink">
            <div class="detail-head-wrapper">
                <h1 style="color: #1E266D;">Gold plan<small class="unapproved-badge">Unapproved</small></h1>
                <p>535359</p>
            </div>
            <div class="detail-body-wrapper">
                <div class="amount-invested">
                    <h6 class="text-blue">Amount invested</h6>
                    <p class="amount">₦1,000,000</p>
                </div>
                <div class="line">
                </div>
                <div class="interest">
                    <h6 class="text-green">Total interest</h6>
                    <p class="amount">₦1,000,000</p>
                </div>
            </div>
        </div>

        <div class="bordered-box blue">
            <table style="width: 100%;display: flex ; flex-basis: auto; ">
                <tr>
                    <td class="a">Investor</td>
                    <td><span>Opeyemi Adebayo</span></td>
                </tr>
                <tr>
                    <td class="a">Phone number</td>
                    <td><span>08032423423</span></td>
                </tr>
                <tr>
                    <td class="a">Email address</td>
                    <td><span>opeyemi.adebayo@gmail.com</span></td>
                </tr>
            </table>
        </div>

        <div class="bordered-box blue">
            <table style="width: 100%">
                <tr>
                    <td class="a">Investment duration</td>
                    <td><span>4 months</span></td>
                </tr>
                <tr>
                    <td class="a">Date created</td>
                    <td><span>January 20, 2020</span></td>
                </tr>
            </table>
        </div>

        <div class="bordered-box blue">
            <h4>Payment confirmation</h4>
            <div class="confirm-wrapper">
                <img src="images/Rectangle 26.svg" />
            </div>
            <div class="btn">
                <p>Click to enlarge</p>
            </div>
        </div>

        <div class="approve-wrapper">
            <div style="color: #E45C5C;">
                <i class="fa fa-times" aria-hidden="true"></i>
                REJECT
            </div>
            <div style="color: #02B075;">
                <i class="fa fa-check" aria-hidden="true"></i> 
                APPROVE
            </div>
            
        </div>
    </div>
</div>