.txx {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media only screen and (max-height: 600px) {
    .txx {
        flex-wrap: wrap;
    }
}