<div style="text-align: center; margin-top: 40px">
    <h6 class="header-text">ACCOUNT AUTHENTICATION</h6>
</div>

<div class="body-wrapper"
    style="display: flex; justify-items: center; justify-content: center; flex-direction: row; flex-wrap: wrap;">
    <div class="container" style="width: 400px;">
        <h3 class="sub-header">Sign in</h3>
        <hr class="header-line">

        <form>
            <p>
                <label class="input-label">Username / email address</label>
                <input class="text-input" name="email" type="text">
            </p>
            <p>
                <label class="input-label">Password</label>
                <input class="text-input" name="password" type="password">
            </p>

            <p class="forget-password">Forgot password?</p>

            <input class="submit-btn" type="button" value="Sign in">
        </form>
    </div>
</div>